.jupyter_cache/
*_files/
*.epub
*.html
*.pdf
/.quarto/
mediabag/
images/chapter2/riemann-surface.png

!abstract.tex
!acknowledgements.tex
!before-body.tex
!copyright.tex
!images/aligning-baryons.pdf
!images/cover-black-white.pdf
!images/cc-by.pdf
!images/rub-logo.pdf
!images/rub-text.pdf

**/*.quarto_ipynb
